* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

p{
    display: none;
}

.container {
    height: 100vh;
    overflow: hidden;       /* Desabilitando o scroll da página */
}

.linha1,.linha2 {
    display: flex;
}
.imagem {
    margin-top: 40px;
}

.casas {
    position: relative;
    height: 50vh;
    width: 50%;
    text-align: center;
}

#casaGrifinoria {
    background-image: url(./img/Gryffindor.png);
}#casaSonserina {
    background-image: url(./img/Slytherin.png);
}#casaCorvinal {
    background-image: url(./img/Ravenclaw.png);
}#casaLufaLufa {
    background-image: url(./img/Hufflepuff.png);
}


.btn {
    background-color: transparent;
    border: 0;
}

#btnGrifinoria:hover .imagem{
    transition: all 1s;
    border-bottom: 2px solid red;
    cursor: pointer;
} 
#btnSonserina:hover .imagem{
    transition: all 1s;
    border-bottom: 2px solid green;
    cursor: pointer;
} #btnCorvinal:hover .imagem{
    transition: all 1s;
    border-bottom: 2px solid blue;
    cursor: pointer;
} #btnLufaLufa:hover .imagem{
    transition: all 1s;
    border-bottom: 2px solid yellow;
    cursor: pointer;
} 



/* Active */


/* Deixando a foto das casas invisíveis após o botão ser clicado */
#casaGrifinoria.active .imagem,
#casaSonserina.active .imagem,
#casaCorvinal.active .imagem,
#casaLufaLufa.active .imagem{
    visibility: hidden;
}

/* Paragrafos que falam sobre as casas */
#casaGrifinoria.active p,
#casaSonserina.active p,
#casaCorvinal.active p,
#casaLufaLufa.active p{
    display: flex;
    /* position: relative; */
    font-size: 28px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 35px;
}

/* Container que segura as div de características das casas */
#casaGrifinoria.active .flex,
#casaSonserina.active .flex,
#casaCorvinal.active .flex,
#casaLufaLufa.active .flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

/* Div com as características das casas  */
#casaGrifinoria.active .flex > div,
#casaSonserina.active .flex > div,
#casaCorvinal.active .flex > div,
#casaLufaLufa.active .flex > div{
    flex: 1 1 250px;
    margin: 10px;    
}

/* Tentando dar um estilo para o :hover */
/* INACABADO */
#casaGrifinoria.active .flex > div:hover,
#casaSonserina.active .flex > div:hover,
#casaCorvinal.active .flex > div:hover,
#casaLufaLufa.active .flex > div:hover{
    cursor: pointer;
    font-size: 400px;
}

/* Características das casas */
#casaGrifinoria.active .flex > div > p,
#casaSonserina.active .flex > div > p,
#casaCorvinal.active .flex > div > p,
#casaLufaLufa.active .flex > div > p{
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
}

/* Dando as devidas cores de background para as característias de cada casa */
#casaGrifinoria.active .flex > div {
    background-color: rgb(170, 63, 63);
}#casaSonserina.active .flex > div {
    background-color: rgb(4, 80, 23);
}#casaCorvinal.active .flex > div {
    background-color: rgb(20, 42, 165);
}#casaLufaLufa.active .flex > div {
    background-color: rgb(179, 141, 20);
}




/* RESPONSIVO */

@media (max-width: 768px) {
    .icone {
        width: 150px;
        height: 150px;
        margin-top: 60%;
    }
}